@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,400;1,623&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y:-40px ;
    background-position-x: 350px;
    background-attachment: fixed;

}


li {
    list-style: none;

}

a{
    color: white;
}

.nav{
    display: flex;
    padding: 1.8rem;
    justify-content: space-between;
    margin: 0.5rem;
    background-color: #6D6A73;
}

.nav_bottp{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: lightgreen;
    font-style: italic;
    margin-top: -6px;
    margin-left: 20px;
    font-size: 25px;
}


.nav_item{
    margin-left: 55px;
}

.nav_link{
    list-style: none;
    text-decoration: none;
    display: flex;
    color:inherit;
    color: white;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin-top: 4px;

}

.login{
    background-color: #6D6A73;
    font-family: 'Roboto', sans-serif;
    border: 2px black;
    font-weight: 500;
    border-radius: 10px;
    border-bottom: 2px;
}

.nav_list{
    display: flex;
    margin-right: 4rem;
}

.t1{
    font-weight: 700;
    font-family: 'Roboto', sans-serif; 
    color: grey;
    text-align: center;
    font-size: 36px;
    text-align: center;
    display: inline-block;
    margin-left: 21.5rem;
    margin-top: 4rem;
}

.parrafo{
    font-family: 'Manrope', sans-serif;
    font-weight: 200;
    font-size: 17px;
    color: grey;
    text-align: center;
    display: inline-block;
    margin-left: 21.6rem;
    margin-top: 1.5rem;
}

.bottom{
    font-family:  'Roboto', sans-serif;
    text-align: center;
    font-weight: 400;
    letter-spacing: 0.7px;
    font-size: 15px;
    color: white;
    border-radius: 0;
    background-color:lightgreen;
    border: none;
    height: 40px;
    width: 160px;
    border-radius: 8px;
    margin-left: 37.2rem;
    margin-top: 3rem;
    display: inline-block;
}

#pantalla-dividida{
    display: flex;
    margin-top: 3rem;
}

.registro{
    list-style: none;
    text-decoration: none;

}


.emp{
    width: 45%;
    font-family: 'Manrope', sans-serif;
    margin-left: 5rem;
    color: #6D6A73;
    text-align: justify;
}

.imgi{
    width: 55%;
    background-size: cover;
    width: 240px;
    height: 240px;
    margin-left: 10rem;
    
}

.b1{
    background-color: white;
}

.texto{
    color:black;
    width: 100%;
    background-color: white;
}

.i1{
    background-color: white;
}

.iconos{
    display: flex;
    margin-left: 36.8rem;
    margin-top: 2rem;
    padding: 2rem;
    justify-content: space-between;
    display: inline-block;
    color: grey;
    font-size: 22px;
}

.bxl-facebook{
    margin-right: 25px;
}

.bxl-twitter{
    margin-right: 25px;
}

.informacion{
    margin-top: 20px;
    font-family: 'Roboto', sans-serif; 
    margin-left: 38.8rem;
    color: grey;
}



.container-card{
	width: 100%;
	display: flex;
	max-width: 1000px;
	margin: auto;
}
.title-cards{
	width: 100%;
	max-width: 1080px;
	margin: auto;
	padding: 20px;
	margin-top: 20px;
	text-align: center;
    font-family: 'Roboto', sans-serif; 
	color: gray;
}


.card{
	width: 100%;
	margin: 20px;
	border-radius: 6px;
	background:white;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	transition: all 400ms ease-out;
	cursor: default;
}
.card img{
	width: 100%;
	height: 210px;
}
.card .contenido-card{
	padding: 15px;
	text-align: center;
}
.card .contenido-card h3{
	margin-bottom: 15px;
	color: #7a7a7a;
}
.card .contenido-card p{
	line-height: 1.8;
	color: #6a6a6a;
	font-size: 14px;
	margin-bottom: 5px;

}

.card .contenido-card a{
	display: inline-block;
	padding: 10px;
	margin-top: 10px;
	text-decoration: none;
	color: gray;
	border: 1px solid lightgreen;
	border-radius: 4px;
	margin-bottom: 5px;
}



.area-comentar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 1.5rem;
    padding: 18px;
    background-color: #fff;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .1);
    border-radius: 12px;
    margin-left: 12rem;
    margin-right: 12rem;
    margin-top: 2.5rem;
}



.avatar {
    display: flex;
    width: 65px;
    height: 65px;
    background-color: #F4F4F4;
    border-radius: 50%;
    overflow: hidden;
}

.boton-subir-archivo {
    position: relative;
    display: inline-block;
}

.boton-subir-archivo input[type="file"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    width: 0;
    height: 0;
}

.boton-file{
    display: inline-block;
    border: 0;
    background-color: lightgreen;
    padding: 7px 15px;
    margin-right: .5rem;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    
}

.boton-enviar {
    display: inline-block;
    border: 0;
    background-color: lightgreen;
    padding: 7px 15px;
    margin-right: .5rem;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
}


.inputs-comentarios {
    flex-grow: 1;
    flex-basis: 0;
    margin-left: .5rem;
}



.area-comentario {
    border: 0;
    background-color: lightgray;
    display: block;
    width: 100%;
    border-radius: 15px;
    margin-bottom: .5rem;
}


.area-comentario {
    padding: 12px 15px;
}

.ticom{
    margin-top: -70px;
    font-family: 'Roboto', sans-serif; 
    margin-left: 33rem;
    color: grey;
}


@media only screen and (max-width: 480px) {
    /* Estilos para dispositivos móviles (hasta 480px de ancho) */
    .nav{   
        display: flex;
        padding: 1.8rem;
        justify-content: space-between;
        margin: 0.5rem;
        margin-right: -10rem;
        background-color: #6D6A73;
    }

    .nav_bottp{
        margin-left: -1.5rem;
    }

    .nav_item{
        display: flex;
        margin-left: 1.9rem;
    }

    .t1 {
        font-size: 24px; /* Reducir tamaño de fuente */
        margin-left: 5.5rem; /* Ajustar el margen izquierdo */
        margin-top: 2rem; /* Ajustar el margen superior */
    }

    .parrafo {
        font-size: 14px; /* Reducir tamaño de fuente */
        margin-left: 4rem; /* Ajustar el margen izquierdo */
        margin-top: 2rem; /* Ajustar el margen superior */
    }
    
    .pabi{
        text-align: center;

    }

    .bottom {
        width: 50%; /* Ancho completo para el botón */
        margin-left: 13rem;/* Centrar el botón */
    }

    #pantalla-dividida {
        flex-direction: column; /* Cambiar a disposición de columna */
        margin-top: 2rem; /* Ajustar el margen superior */
    }

    .informacion{
        margin: auto;
        display: flex;
        margin-left: 17rem;
    }

    .texto{
        margin-left: 3.5rem;
    }

    .registro{
        display: block;
    }

    .emp {
        width: 100%; /* Ancho completo */
        margin-top: 0.1rem;
        display: flex;
        margin-left: 5rem; /* Ajustar el margen izquierdo */
        text-align: justify; /* Alinear texto justificado */
    }

    .imgi {
        width: 50%; /* Ancho completo para la imagen */
        display: flex;
        margin-left: 13rem;
        margin-top: 3rem;
    }

    .iconos {
        margin-left: 0.5rem; /* Ajustar el margen izquierdo */
        margin-top: 1rem; /* Ajustar el margen superior */
        justify-content: space-around; /* Distribuir espacios alrededor */
    }

    .ticom{
        margin:auto;
        display: flex;
        margin-left: 12rem;
    }

    .contenido-card{
        margin-left: 2.8rem;
        padding: 1rem;
        align-items: center;
    }

    .nc{
        display: flex;
        margin-left: 12rem;

    }

    .title-cards {
        padding: 2px; /* Reducir el relleno */
        margin-top: 1rem; /* Ajustar el margen superior */
        font-size: 20px; /* Reducir tamaño de fuente */
        border-radius: 2px;
    }

    .area-comentar{
        margin-left: 7rem;
        width: 80%;
    }

}

