@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  body {
    padding: 0;
    background: linear-gradient(120deg,#F4FFF3,#BBFFB4);
    height: 100vh;
    overflow: hidden;
  }
  
  .form-register {
    width: 400px;
    background: white;
    padding: 30px;
    margin: auto;
    margin-top: 30px;
    border-radius: 10px;
    font-family: 'calibri';
    color: black;
  }
  
  .form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  
  .controls {
    width: 100%;
    background: white;
    padding: 10px;
    border-radius: 7px;
    margin-bottom: 16px;
    border: 1px solid black;
    font-family: 'calibri';
    font-size: 18px;
    color: black;
  }
  
  .form-register p {
    height: 20px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
  }
  
  .form-register a {
    color: white;
    text-decoration: none;
  }
  
  .form-register a:hover {
    color: white;
    text-decoration: underline;
  }
  
  .form-register .botons {
    width: 100%;
    background: lightgreen;
    border: none;
    border-radius: 15px;
    padding: 10px;
    color: white;
    margin: 5px 0;
    font-size: 16px;
  }
  