@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,400;1,623&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y:-40px ;
    background-position-x: 350px;
    background-attachment: fixed;

}


li {
    list-style: none;

}

a{
    color: white;
}

.nav{
    display: flex;
    padding: 1.8rem;
    justify-content: space-between;
    margin: 0.5rem;
    background-color: #6D6A73;
}

.nav_bottp{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: lightgreen;
    font-style: italic;
    margin-top: -6px;
    margin-left: 20px;
    font-size: 25px;
}

.nav_menu{
    display: flex;
    color:inherit;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin-top: 4px;
}

.nav_item{
    margin-left: 55px;
}

.nav_link{
    list-style: none;
    text-decoration: none;

}

.nav_item_is{
    border-radius: 8px;
    text-align: center;
    color: #6D6A73;
    background-color: #6D6A73;
    border-style:groove;
    height: 35px;
    width: 115px;
    border-color: aliceblue;
    margin-left: 2rem;
    display: inline-block;
}

.nav_list{
    display: flex;
    margin-right: 4rem;
}

.t1{
    font-weight: 700;
    font-family: 'Roboto', sans-serif; 
    color: grey;
    text-align: center;
    font-size: 36px;
    text-align: center;
    display: inline-block;
    margin-left: 21.5rem;
    margin-top: 3.5rem;
}

.parrafo{
    font-family: 'Manrope', sans-serif;
    font-weight: 200;
    font-size: 17px;
    color: grey;
    text-align: center;
    display: inline-block;
    margin-left: 22rem;
    margin-top: 1.5rem;
}

.bottom{
    font-family:  'Roboto', sans-serif;
    text-align: center;
    font-weight: 400;
    letter-spacing: 0.7px;
    font-size: 15px;
    color: white;
    border-radius: 0;
    background-color:lightgreen;
    border: none;
    height: 40px;
    width: 160px;
    border-radius: 8px;
    margin-left: 37.2rem;
    margin-top: 3rem;
    display: inline-block;
}

#pantalla-dividida{
    display: flex;
}

.registro{
    list-style: none;
    text-decoration: none;

}


.emp{
    width: 45%;
    font-family: 'Manrope', sans-serif;
    margin-left: 5rem;
    color: #6D6A73;
    text-align: justify;
}

.iemp{
    background: url(jpg.jpeg);
    width: 55%;
    background-size: cover;
    width: 250px;
    height: 250px;
    margin-left: 10rem;
    
}




.b1{
    background-color: white;
}

.texto{
    color:black;
    width: 100%;
    background-color: white;
}


.i1{
    background-color: white;
}

.iconos{
    display: flex;
    margin-left: 36.8rem;
    margin-top: 2rem;
    padding: 2rem;
    justify-content: space-between;
    display: inline-block;
    color: grey;
    font-size: 22px;
}

.bxl-facebook{
    margin-right: 25px;
}

.bxl-twitter{
    margin-right: 25px;
}